FROOT_BAT.egg-info/dependency_links.txt
FROOT_BAT.egg-info/PKG-INFO
FROOT_BAT.egg-info/requires.txt
FROOT_BAT.egg-info/SOURCES.txt
FROOT_BAT.egg-info/top_level.txt
FROOT_BAT/__pycache__/__init__.cpython-310.pyc
FROOT_BAT/__pycache__/beam_model.cpython-310.pyc
FROOT_BAT/__pycache__/elements.cpython-310.pyc
FROOT_BAT/__pycache__/utils.cpython-310.pyc
FROOT_BAT/__pycache__/cross_section.cpython-310.pyc

.gitignore
FROOT_BAT/__pycache__/material.cpython-310.pyc
FROOT_BAT/__pycache__/geometry.cpython-310.pyc
mesh/box_girder_bridge.geo
.gitignore
demos/EBbeam-ss.py
demos/demo_neumann-poisson.py
FROOT_BAT/__pycache__/__init__.cpython-310.pyc
FROOT_BAT/__pycache__/beam_model.cpython-310.pyc
FROOT_BAT/__pycache__/elements.cpython-310.pyc
FROOT_BAT/__pycache__/geometry.cpython-310.pyc
FROOT_BAT/__pycache__/material.cpython-310.pyc
FROOT_BAT/__pycache__/utils.cpython-310.pyc
FROOT_BAT/__pycache__/__init__.cpython-310.pyc
FROOT_BAT/__pycache__/beam_model.cpython-310.pyc
FROOT_BAT/__pycache__/elements.cpython-310.pyc
FROOT_BAT/__pycache__/geometry.cpython-310.pyc
FROOT_BAT/__pycache__/material.cpython-310.pyc
FROOT_BAT/__pycache__/utils.cpython-310.pyc
FROOT_BAT/__pycache__/__init__.cpython-39.pyc
FROOT_BAT/__pycache__/__init__.cpython-310.pyc
FROOT_BAT/__pycache__/beam_model.cpython-39.pyc
FROOT_BAT/__pycache__/beam_model.cpython-310.pyc
FROOT_BAT/__pycache__/cross_section.cpython-39.pyc
FROOT_BAT/__pycache__/elements.cpython-39.pyc
FROOT_BAT/__pycache__/elements.cpython-310.pyc
FROOT_BAT/__pycache__/geometry.cpython-39.pyc
FROOT_BAT/__pycache__/geometry.cpython-310.pyc
FROOT_BAT/__pycache__/material.cpython-39.pyc
FROOT_BAT/__pycache__/material.cpython-310.pyc
FROOT_BAT/__pycache__/utils.cpython-39.pyc
FROOT_BAT/__pycache__/utils.cpython-310.pyc
FROOT_BAT/__pycache__/__init__.cpython-310.pyc
FROOT_BAT/__pycache__/beam_model.cpython-310.pyc
FROOT_BAT/__pycache__/elements.cpython-310.pyc
FROOT_BAT/__pycache__/geometry.cpython-310.pyc
FROOT_BAT/__pycache__/material.cpython-310.pyc
FROOT_BAT/__pycache__/utils.cpython-310.pyc
examples/cross-section/__pycache__/material.cpython-310.pyc
