FRuIT_BAT.egg-info/dependency_links.txt
FRuIT_BAT.egg-info/PKG-INFO
FRuIT_BAT.egg-info/requires.txt
FRuIT_BAT.egg-info/SOURCES.txt
FRuIT_BAT.egg-info/top_level.txt
FRuIT_BAT/__pycache__/__init__.cpython-310.pyc
FRuIT_BAT/__pycache__/beam_model.cpython-310.pyc
FRuIT_BAT/__pycache__/elements.cpython-310.pyc
FRuIT_BAT/__pycache__/utils.cpython-310.pyc

.gitignore
