#if you have an issue with "something, something failed with exit code 1",
# see https://fenicsproject.discourse.group/t/warning-when-solving-parametric-problem/10422
# and downgrade the setuptools package

#another common issue is with gmsh installation. while not recommended, I 
#ended up mixing gmsh being installed with pip and the rest of the packages 
# installed with conda

#if you are getting either a PETSc segmentation violation or a length compile error,
# I suggest pip installing pyqt5


# Includes the list of all dependencies required to run setup() and 
# use the package in some new environment.
# E.g., for creating a conda environement, or to be used in testing workflow, 
# or to host the documentation on Read the Docs

# numpy==1.24.3
# pytest==7.3.1
# sphinx==5.3.0
# myst-nb==0.17.2
# sphinx_rtd_theme==1.1.1 
# sphinx-copybutton==0.5.2
# sphinx-autoapi==1.9.0   # Defining exact versions to ensure things don't break
# numpydoc==1.5.0
# gitpython==3.1.31
# git+https://github.com/anugrahjo/sphinx-collections.git
# sphinxcontrib-bibtex==2.5.0
git+https://github.com/yig/PySPQR.git